
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Job has been succesfully posted on OddJob!</h1>
    <p>
      Congratulations <%= @user.username %>,<br>
      Your job has been listed and you will start receiving applicants for you to choose from very shortly!
    </p>
    <p>
      To view your job, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using OddJob and have a great day!</p>
  </body>
</html>
